body {
  margin: 0%;
  font: 400 "Open Sans", Arial, "Helvetica Neue", Helvetica,
    "Bitstream Vera Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica,
    "Bitstream Vera Sans", sans-serif;
}

#placeholder {
  max-width: 1200px;
  margin: auto;
}

.fBlock {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer {
  background-color: #202020;
}

.fplan {
  color: #ff3a39;
  font-size: 18px;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.fplan a {
  color: #ff3a39;
  text-decoration: none;
}

.fplan a:hover {
  color: white;
}

.fcnil {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.fcnil a {
  color: #ff3a39;
  text-decoration: none;
}

.fcnil a:hover {
  color: #ffffff;
}

.fentreprise {
  padding: 1em;
  color: #ffffff;
  text-align: right;
}

.fTitre {
  color: #ff3a39;
}

@media screen and (max-width: 750px) {
  .fBlock {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 30px;
  }
  .fplan {
    color: #ff3a39;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    grid-row-start: 1;
  }
  .fcnil {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    grid-row-start: 3;
  }
  .fentreprise {
    padding: 1em;
    color: #ffffff;
    grid-row-start: 2;
    margin-left: auto;
    margin-right: auto;
  }

  .fTitre {
    float: left;
    font-size: 15px;
  }
  .fprenom {
    float: left;
    padding-left: 0.25em;
    font-size: 15px;
    text-align: center;
  }
}
