body {
  margin: 0%;
  font: 400 16px "Open Sans", Arial, "Helvetica Neue", Helvetica,
    "Bitstream Vera Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica,
    "Bitstream Vera Sans", sans-serif;
}

#placeholder {
  width: 1400px;
  margin: auto;
}

#fBlock {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer {
  background-color: #202020;
}

.fplan {
  border: 0px solid;
  /* padding: 15px;
  padding-left: 30px; */
  color: #ff3a39;
  font-size: 18px;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.fplan a {
  color: #ff3a39;
  text-decoration: none;
}

.fplan a:hover {
  color: white;
}

.fcnil {
  border: 0px solid;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.fcnil a {
  color: #ff3a39;
  text-decoration: none;
}

.fcnil a:hover {
  color: #ffffff;
}

.fentreprise {
  border: 0px solid;
  padding: 15px;
  color: #ffffff;
  text-align: right;
}

.fTitre {
  color: #ff3a39;
  font-size: 20px;
}
